*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(219, 213, 223);
}
/*Section Header*/
.header-top{
    background-color: #120945;
    background-image: url(/assets/img/lights.png);
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
h1{
    color:goldenrod;
}

.header-bottom{
    background-color: #3535ec;
    height: 45px;
    border-radius: 0 0 10px 10px;
}
h2{
    color:goldenrod
}
.total-slot{
    font-size: 1.75rem;
    font-weight: 600;
    
}

/*Section Main*/

ul{
    padding-left: 0;
}

.gift{
    border: 3px solid white;
    border-radius: 10px;
    
}
.gift-info{
    width: 70%;
    padding: 8px;
}
.gift-price{
    width: 20%;
    padding: 8px;
    font-weight: 700;
}
.gift-button{
    border: none;
    background-color: white;
    width: 10%;
}

/*Section Form*/

form{
    background-color: #de7eb6;
    border-radius: 8px;
}
input{
    font-size: 16px;
    padding:8px;
    border: none;
    border-radius: 8px;
}

.form-fields{
    flex-wrap: wrap;
    padding:8px;
    justify-content: space-between;
}
#name-field{
    width: 60%;
}
#price-field{
    width: 32.5%;
    
}
#descpription-field{
    
width: 100%;
}
.form-btn{
    border: none;
    background-color: transparent;
    padding-right: 6px;
}